@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 70px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
  }

  .social {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      list-style: none;

      a {
        display: inline-block;
        margin-left: 20px;
        filter: invert(1);
        transform: scale(0.5);
        transition: 0.5s;

        &:hover {
          transform: scale(0.5) translateY(-15px);
        }
      }
    }
  }
}

footer {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;

  img {
    width: 100px;
    margin-right: 20px;
  }

  .footer-text {
    width: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    font-size: 1.2em;
  }
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100%;

  section {
    width: 100%;

    &.full {
      height: 100vh;
    }

    &.placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
    }

    &.showcase {
      background-color: black;
      position: relative;
      overflow: hidden;

      video {
        min-height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.8;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #424242;
        mix-blend-mode: overlay;
      }
    }

    &.sponsors {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(240, 240, 240);
      padding: 30px;

      .section-subtitle {
        margin-bottom: 30px;
      }

      .sponsor-logos {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;

        img {
          max-width: 180px;
          margin: 20px 60px;
        }
      }
    }

    &:nth-child(2) {
      height: 600px;
      
      background-color: rgb(250, 250, 250);
    }
  }
}

.text {
  position: absolute;
  top: 25%;
  left: 70px;
  right: 70px;
  z-index: 10;

  h2 {
    font-size: 5em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
  }

  h3 {
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
  }

  p {
    font-size: 1.1em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
  }

  a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;

    &:hover {
      letter-spacing: 6px;
    }
  }
}

@media (max-width: 991px) {
  .showcase, .showcase > header {
    padding: 40px;

    video {
      max-height: 100vh;
    }
  }

  .text h2 {
    font-size: 3em;
  }

  .text h3 {
    font-size: 2em;
  }
}

@media (max-width: 400px) {
  header {
    flex-direction: column;

    h2 {
      font-size: 1.25em;
    }
  }

  .container {
    section {
      &.sponsors {
        .sponsor-logos {
          img {
            max-width: 100px;
            margin: 10px 20px;
          }
        }
      }
    }
  }

  footer {
    img {
      width: 60px;
      margin-right: 15px;
    }

    .footer-text {
      width: 200px;
      font-size: 0.8em;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20%;
    left: 40px;
    right: 40px;

    p {
      text-align: center;
    }
  }
}