@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 70px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
header .social {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .social li {
  list-style: none;
}
header .social li a {
  display: inline-block;
  margin-left: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
header .social li a:hover {
  transform: scale(0.5) translateY(-15px);
}

footer {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
footer img {
  width: 100px;
  margin-right: 20px;
}
footer .footer-text {
  width: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  font-size: 1.2em;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}
.container section {
  width: 100%;
}
.container section.full {
  height: 100vh;
}
.container section.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.container section.showcase {
  background-color: black;
  position: relative;
  overflow: hidden;
}
.container section.showcase video {
  min-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}
.container section.showcase .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #424242;
  mix-blend-mode: overlay;
}
.container section.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 30px;
}
.container section.sponsors .section-subtitle {
  margin-bottom: 30px;
}
.container section.sponsors .sponsor-logos {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
.container section.sponsors .sponsor-logos img {
  max-width: 180px;
  margin: 20px 60px;
}
.container section:nth-child(2) {
  height: 600px;
  background-color: #fafafa;
}

.text {
  position: absolute;
  top: 25%;
  left: 70px;
  right: 70px;
  z-index: 10;
}
.text h2 {
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover {
  letter-spacing: 6px;
}

@media (max-width: 991px) {
  .showcase, .showcase > header {
    padding: 40px;
  }
  .showcase video, .showcase > header video {
    max-height: 100vh;
  }

  .text h2 {
    font-size: 3em;
  }

  .text h3 {
    font-size: 2em;
  }
}
@media (max-width: 400px) {
  header {
    flex-direction: column;
  }
  header h2 {
    font-size: 1.25em;
  }

  .container section.sponsors .sponsor-logos img {
    max-width: 100px;
    margin: 10px 20px;
  }

  footer img {
    width: 60px;
    margin-right: 15px;
  }
  footer .footer-text {
    width: 200px;
    font-size: 0.8em;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20%;
    left: 40px;
    right: 40px;
  }
  .text p {
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
